/*****************************
    Header
*****************************/
#header {
    border-bottom: 1px solid #c0c0c0;
    color: #c0c0c0;
    margin-bottom: 30px;
    padding: 30px;
}

/*****************************
    Body
*****************************/

body {
    background-color: #003366;
}

.card {
    margin-bottom: 30px;
}

.beginner {
    color: #008000;
}

.intermediate {
    color: #ffa500;
}

.advanced {
    color: #800000;   
}

.card-header {
    color: #407294;
}

.card-footer {
    color: #407294;
}

.card-title {
    color: #003366;
}

.flip-card-back {
    background-color: #407294;
    background-color: #003366;
    color: white;
    transform: rotateY(180deg);
    border: 1px solid #c0c0c0;
}
